#sidePanel {
  margin-left: 20px;
  border: 1px solid #000;
}

#chapterList {
  /* padding-left: 55px; */
  position: relative;
  padding: 0px 0 0 70px;
  /* font-family: 'APS-DV-PrakashRoman'; */
  /* font-weight: bold; */
  font-size: 14px;
  list-style: none;
  margin-left: -2rem;
}

#sidePanel-auto li.checkbox {
  position: relative;
  margin-bottom: 15px;
  color:#000;
  margin-left: 2rem;
  /* border: 2px solid red; */
  padding-left:1rem;
}

#sidePanel-auto #chapterList .checkbox input[type="checkbox"] {
  position: absolute;
  left: -32px;
  top: 0px;
}

#jj {
  width: 20px;
  height: 20px;
}

#sidePanel-auto {
  background: #fafafa;
  /* border-right: 2px solid #000; */
  padding: 10px 10px 5px 20px;
  width: 22%;
  height: 100%;
  overflow-y: auto;
  float: left;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(92, 69, 69, 0.33);
  -moz-box-shadow: 0px 0px 4px 0px rgba(92, 69, 69, 0.33);
  -ms-box-shadow: 0px 0px 4px 0px rgba(92, 69, 69, 0.33);
  -o-box-shadow: 0px 0px 4px 0px rgba(92, 69, 69, 0.33);
  box-shadow: 0px 0px 4px 0px rgba(92, 69, 69, 0.33);
}

#sidePanel-auto ul.side-panel-select {
  position: relative;
  margin-bottom: 15px;
  list-style: none;
  padding: 10px 10px 0;
  /* font-family: 'APS-DV-PrakashRoman'; */
  font-weight: bold;
  font-size: 20px;
  margin-left: -3rem;
}

#mainPage {
  height: 100%;
  width: 80%;
  margin: auto;
}

#typeAuto {
  height: 100%;
  width: 100%;
}

#sidePanel-auto h3 {
  margin-bottom: 10px;
  /* font-family: 'APS-DV-PrakashRoman'; */
  font-weight: bold;
  font-size: 20px;
  background: #3facc4;
  color: #fff;
  padding: 13px;
  border-bottom: 2px #0097a7 solid;
  letter-spacing: 0.5px;
}

#mainFrame {
  /* margin-left: 252px; */
}

.instructions-area {
  padding: 0px 0px;
}

#sidePanel-auto.readonly-pannel:before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.activityDetails {
  margin-top: 0px;
  /* background: #eff1f9; */
  /* border: 1px solid #a6adbf; */
  /* padding: 20px 20px; */
}

.auto-seelctquestions {
  /* font-family: 'APS-DV-PrakashRoman'; */
  /* font-weight: bold; */
  font-size: 16px;
  width: 100%;
  /* max-width: 637px; */
  text-align: left;
  margin: 20px 0;
}

#sidePanel-auto.readonly-pannel #chapterList:before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

#sidePanel-auto.readonly-pannel {
  position: relative;
}

#sidePanel-auto.readonly-pannel label.checkbox input[type="checkbox"] {
  opacity: 0.5;
}

.auto-toptitle{
  position: relative;
  /* background: #9c27b0; */
  background: linear-gradient(135deg, #7928ca9c, #2afadf94);
  text-align: left;
  padding: 0;
  /* min-height: 130px; */
  color: #ffffff;
  /* MOD */
  display: flex;
  justify-content: space-between;
  padding-bottom: .5rem;
  /* flex-direction: column; */
    align-items: center;
}
#toolbars{
  position: relative;
  /* background: #9c27b0; */
 background: linear-gradient(135deg, #7928ca9c, #2afadf94);
  text-align: left;
  padding: 0;
  /* min-height: 130px; */
  color: #ffffff;
  /* MOD */
  display: flex;
  justify-content: space-between;
  /* padding-bottom: .5rem; */
}





.auto_level-buttons button {
   border: 0;
  background: linear-gradient(45deg, #667eea, #764ba2);
  /* width: 40px;
  height: 40px; */
  border-radius: 100%;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  margin: 5px auto;
  display: block;
 box-shadow: rgb(145, 230, 9) 3px 3px 6px 0px inset, rgb(133, 139, 139) -3px -3px 6px 1px inset;

}
/*.auto-toptitle:after {
    content: '';
        width: 320px;
    height: 100%;
    background: url(../img/header_design.png) no-repeat;
    position: absolute;
    left: 450px;
    top: 0px;
    background-size: 100%;
}*/
.auto-tabs-section {
  text-align: center;
  float: right;
  /* background: #9c27b0; */
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  height: auto !important;
  box-sizing: border-box;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
}
 .level1-header .auto-tabs-section {
  text-align: center;
  float: right;
  /* background: #9c27b0; */
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  height: auto !important;
  box-sizing: border-box;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
}

.ml100 {
  margin-left: 100px;
}

.auto-seelctquestions select:disabled {
  opacity: 0.6;
}

.activity-submit-wrap {
  padding: 15px 0;
  /* background: #d9edf7; */
    display: flex ;
    justify-content: center;
    align-items: center;
}

.activity-submit-wrap .sum_button{
  display: inline-block;
  width: 50% !important;
 height: 50px;
 border-radius: 10px;
 border: 1px solid #03045e;
 position: relative;
 overflow: hidden;
 transition: all 0.5s ease-in;
 z-index: 1;
}


.activity-submit-wrap .sm_button::before,
.activity-submit-wrap .sm_button::after {
 content: '';
 position: absolute;
 top: 0;
 width: 10%;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: hidden;
 z-index: -1;
}

.activity-submit-wrap .sm_button::before {
 left: -10px;
 /* background: #f80d48; */
}

.activity-submit-wrap .sm_button::after {
 right: -10px;
 /* background: #e62a9b; */
}

.activity-submit-wrap .sm_button:hover::before,
.activity-submit-wrap .sm_button:hover::after {
 width: 58%;
}

.activity-submit-wrap .sm_button:hover span {
 color: #efefef;
 transition: 0.3s;
}

.activity-submit-wrap .sm_button span {
 color: #03045e;
 font-size: 18px;
 transition: all 0.3s ease-in;
}



.mltop40 {
  margin-top: 40px;
}

#auto-level-1 {
  position: relative;
  height: 100%;
}

#auto-level-2 {
  position: relative;
  height: 100%;
}

#auto-level-3 {
  height: 100%;
  position: relative;
}

#mainFrame {
  overflow: auto;
  height: 100%;
}

#auto-page1,
#auto-page2 {
  width: 78%;
  float: right;
background: linear-gradient(45deg, #1a93c429, #00ccf75c);
  height: 100%;
  overflow: auto;
}
.instructions-area{
  background-color: #0097A6E4;
}

.worksheet-selection {
  padding-left: 20px;
  display: none;
}

#section-worksheet {
  padding-left: 0px;
}

.bottom-total-ls {
  max-width: 673px;
  width: 100%;
  padding: 0px;
  text-align: right;
  box-sizing: border-box;
  padding-right: 43px;
}

#total-marks-obj {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  padding: 0.5em;
  line-height: 1.2em;
  width: 40px;
  /* cursor: pointer; */
  border: 1px solid #66cfdc;
  background: #ffffff;
  border-radius: 0;
  font-size: 14px;
  color: #444;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 19px;
  margin-top: 19px;
}

.input-marks-teacher {
  position: relative;
}

#auto-filter-difficulty {
  width: 280px;
  margin: 0px 36px;
  float: left;
}
#auto-filter-outcome {
  width: 280px;
  margin: 0px 36px;
  float: left;
  /* display: none; */
}

#auto-filter-difficulty ul,
#auto-filter-outcome ul {
  list-style: none;
}

#auto-filter-difficulty ul li,
#auto-filter-outcome ul li {
  margin-bottom: 10px;
}

#auto-filter-difficulty h3,
#auto-filter-outcome h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.optWrapper.multiple li {
  display: block;
}

.manual-filter-container {
  clear: both;
  position: absolute;
  right: 7%;
  bottom: 6%;
  /* width: 98%; */
  padding: 0 10px;
  vertical-align: top;
}
.manual-filter-container div {
  display: inline-block;
  color: #000;
}
.manual-filter-container label {
  line-height: 30px;
  display: inline-block;
  margin-right: 9px;
  color: #ffffff;
  font-size: 15px;
  vertical-align: top;
}

.margin0 {
  margin: 0px !important;
}

#section-prev-test {
  float: right;
  margin-left: 10px;
}

.question-info {
  margin-left: 5%;
  margin-top: 10px;
  font-size: 12px;
  border-top: 1px solid #d8d8d9;
  display: inline-block;
  padding-top: 10px;
  z-index: 0;
  position: relative;
  display: none;
}

.question-info > div {
  display: inline-block;
  margin-right: 50px;
  width: 220px;
}

.summary-selection {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin: auto;
  height: 7%;
  padding: 0;
  z-index: 9999;
}

.summary-container {
  width: 125% !important;
  margin: auto;
  background-color: #00bcd4;
  /* padding: 20px 20px 0px 20px; */
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary_leftpane p{
  color: #fff;
  font-size: 1.2rem;
}
.summary_leftpane > div {
  margin-bottom: 1%;
  margin-bottom: 4px;
  color: #000000;
  font-weight: bold;
  display: inline-block;
  width: 45%;
  font-size: 12px;
  line-height: normal;
  vertical-align: top;
}
.summary_leftpane {
  width: 70%;
  display: inline-block;
}

.summary_rightPane {
  width: 25%;
  float: right;
  margin-right: 0px;
  text-align: right;
}

.summary_rightPane .macm_logo img {
  max-width: 120px;
  text-align: right;
}
.question-parent .question-outcome,
.question-difficulty {
  font-size: 12px;
}

.question-parent .question-outcome {
  margin-top: 15px;
  display: none;
}

#auto-reset-btn {
  display: none;
}

.editingmode-on {
  background: rgba(255, 191, 179, 0.3);
}

#level2 div#userInfo,
#auto-level-2 div#userInfo {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  background: rgb(216, 251, 255);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  border: 2px #00bcd4 solid;
}

body.overlayus div#sContainIn {
  position: relative;
}
body.overlayus div#sContainIn:before,
body.overlayus #toolbars:before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(122, 116, 116, 0.31);
  position: absolute;
  z-index: 1;
}

a.tool-replace[disabled] {
  opacity: 0.6;
  cursor: default;
  background: #fff !important;
  color: #213049 !important;
}

.question-difficulty {
  display: none !important;
}

/* #auto-filter-difficulty {
  display: none !important;
} */

.summary-diffictulty {
  display: none !important;
}

.summary-outcome {
  display: none !important;
}

#pdfPreview .options,
#pdfPreview .question-answer {
  /* padding-top: 10px; */
}

#previewHTML h3 {
  /*margin-left: 2%;*/
  margin-left: 0px;
}

#explorer > #stats .info_btn {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px 15px;
}

/* #activityArea,
#mainPage {
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-color: #a42543;
} */

@media print {
  #activityArea,
  #mainPage {
    border: none;
  }
}
  @media (max-width: 500px) {
	.summary_leftpane p {
    color: #fff;
    font-size: 1rem;
}
div#sContainIn {
    margin-bottom: 25rem !important;
    /* border: 2px solid red; */
}
.summary-selection {
    position: fixed;
   bottom: 6rem;
    left: 0px;
    width: 100%;
    margin: auto;
    height: 7%;
    padding: 0;
    /* top: -46px; */
    z-index:999;
}
.question-title.rx-editable {
    /* padding-left: 1%; */
    width: 80%;
    /* text-align: justify; */
}
#text-marks{
  padding-left: 2rem ;
}
}

div#sContainIn {
  margin-bottom: 20rem;
  /* border: 2px solid red; */
}